  @font-face {
      font-family: en1;
      src: url(font/PlayfairDisplay-Italic-VariableFont_wght.ttf);
  }

  @font-face {
      font-family: en2;
      src: url(font/PlayfairDisplay-BlackItalic.ttf);
  }

  @font-face {
      font-family: en4;
      src: url(font/PTSerif-Regular.ttf);
  }

  @font-face {
      font-family: en3;
      src: url(font/PTSerif-BoldItalic.ttf);
  }

  .head {
      width: 100%;
      height: 130px;
      background-color: rgb(226, 226, 226);
      /* border: 1px solid black; */
      padding: 0 90px;






      * {
          text-transform: capitalize;
          display: flex;


      }

      >div {
          width: 100%;
          height: 30%;
          /* border: 1px solid red; */
          display: flex;
          justify-content: space-between;

          /* background-color: rgba(74, 72, 72, 0.812); */

          >i {
              width: 250px;
              height: 100%;
              justify-content: center;
              align-items: center;
              /* background-color: blue; */
          }

          span {
              width: 300px;

              /* border: 1px solid red; */
              display: flex;
              align-items: center;
              justify-content: flex-end;

              >i {
                  font-size: 25px;
                  font-family: en4;

                  &:hover {
                      scale: 1.4;
                  }

                  &:nth-of-type(1) {
                      color: rgba(0, 0, 0, 0.811);

                  }

                  &:nth-of-type(2) {
                      color: rgba(255, 0, 0, 0.795);

                  }

                  &:nth-of-type(3) {
                      color: rgba(61, 61, 216, 0.871);

                  }

                  &:nth-of-type(4) {
                      color: rgba(69, 242, 69, 0.871);

                  }
              }

          }




      }

      >nav {
          width: 100%;
          height: 70%;
          /* border: 1px solid black; */

          >* {
              display: flex;

          }

          ul {
              width: 60%;
              display: flex;
              /* border: 1px solid yellow;  */
              padding: 0 70px;


              >li {
                  width: 800px;
                  /* border: 1px solid green;  */
                  justify-content: start;
                  align-items: center;

                  >a {
                      width: 100%;
                      height: 100%;
                      justify-content: start;
                      align-items: center;
                      /* background-color: black; */
                      transition: 0.4s;
                      font-family: en3;
                      font-weight: bold;

                      &:hover {
                          color: rgb(217, 33, 33);
                          border-radius: 8%;
                      }




                  }
              }
          }

          figure {
              width: 20%;
              height: 95%;
          }

          span {
              width: 20%;


              height: 70px;
              display: flex;
              /* border-radius: 10%  30% ; */
              background-color: rgba(248, 40, 44, 0.781);
              justify-content: center;
              align-items: center;
              margin-top: 7px;

              &:hover {
                  background-color: rgb(171, 170, 170);
                  scale: 1.1;
              }


              >i {
                  color: rgb(250, 249, 247);
                  font-size: 35px;
                  /* background-color: rgb(245, 112, 29); */



              }

              >a {
                  font-size: 25px;
                  /* background-color: rgb(245, 112, 29); */
                  font-family: en4;

              }
          }


      }
  }

  .car {
      width: 100%;
      height: 80vh;
      background-size: cover;
      background-image: url(../img/car4.jpg);
      /* border: 1px solid black; */
      display: flex;
      padding: 0 0 0 120px;

      >div {
          width: 100%;
          height: 100%;
          /* border: 1px solid red; */
          display: flex;
          flex-wrap: wrap;
          backdrop-filter: blur(3px);
          justify-content: start;

          >h1 {
              width: 100%;
              height: 70px;
              color: rgba(6, 6, 6, 0.947);
              font-size: 96px;
              margin-top: 60px;
              font-family: en2;



          }

          >h4 {
              width: 100%;
              height: 60px;
              color: rgba(231, 231, 232, 0.859);
              font-size: 35px;
              font-weight: 300;
              font-family: en1;
              font-weight: bold;


          }

          >span {
              width: 100%;
              height: 150px;
              display: flex;
              /* border: 1px solid rgb(238, 233, 101); */
              justify-content: center;
              align-items: center;

          }

          .aaa {
              width: 700px;
              height: 150px;
              display: flex;
              /* border: 1px solid black; */
              display: flex;
              justify-content: space-evenly;





              a {
                  width: 220px;
                  height: 60px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                  font-weight: 500;

                  &::before {
                      content: '';
                      position: absolute;
                      top: 100%;
                      left: 0;
                  }

                  &:hover {
                      scale: 1.2;
                  }

                  gap: 10px;
                  background-color: brown;

                  &:first-of-type {
                      background-color: rgba(248, 40, 44, 0.781);
                      display: flex;

                  }

                  &:last-of-type {
                      background-color: rgb(248, 247, 250);
                  }


              }

          }

      }


  }

  .box {
      width: 100%;
      height: 200vh;
      display: flex;
      background-color: rgba(226, 225, 225, 0.851);




      >section {
          width: 60%;
          height: 1300px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(8, 1fr);
          justify-content: start;
          gap: 30px;
          margin-top: 70px;
          margin-left: 60px;


          >figure {
              /* border: 3px solid red; */
              position: relative;




              >figcaption {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 50px;
                  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

                  background-color: rgba(255, 255, 255, 0.664);
                  text-transform: capitalize;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 25px;
                  font-family: en3;

              }


              >img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
              }

              &:nth-of-type(1) {
                  grid-area: 1 / 1 / span 3 / span 1;

                  &:hover {
                      scale: 1.05;
                      border-radius: 30%;
                  }
              }

              &:nth-of-type(2) {
                  grid-row: 2 / 1;

              }

              &:nth-of-type(3) {
                  grid-row: 2 / span 3;

                  &:hover {
                      scale: 1.05;
                  }
              }

              &:nth-of-type(4) {
                  grid-area: 4 / 1 / span 1 / span 1;
              }

              &:nth-of-type(5) {
                  grid-row: 5 / span 3;

                  &:hover {
                      scale: 1.05;
                  }
              }

              &:nth-of-type(6) {
                  grid-area: 5 / 2 / span 1 / span 1;

              }

              &:nth-of-type(7) {
                  grid-area: 6 / 2 / span 3 / span 1;

                  &:hover {
                      scale: 1.05;
                  }
              }

              &:nth-of-type(8) {
                  grid-area: 7 / 1 / span 1 / span 1;
              }

              &:nth-of-type(9) {
                  grid-area: 8 / 2 / span 3 / span 1;
              }
          }


      }


      >div {
          width: 40%;
          height: 800px;
          /* border: 1px solid black; */
          display: flex;
          align-items: center;

          flex-wrap: wrap;
          margin-top: 300px;
          margin-left: 80px;
          padding-right: 60px;
          flex-direction: column;

          >img {
              width: 500px;
              height: 300px;
              object-fit: cover;
              margin-top: 70px;
              border-radius: 15%;
          }



          >h3 {
              width: 100%;
              height: 80px;
              /* border: 1px solid yellow; */
              display: flex;
              align-self: center;
              font-family: en1;
              font-size: 30px;
              text-align: center;
              justify-content: center;


          }

          p {
              width: 100%;
              display: flex;
              font-family: en3;
              font-size: 25px;
              color: rgba(0, 0, 0, 0.83);
              text-align: center;
              /* border: 1px solid red; */



          }


      }

  }

  footer {
      width: 100%;
      height: 600px;
      background-color: rgba(6, 6, 6, 0.836);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;

      .row {
          width: 400px;
          height: 500px;
          display: flex;

          >img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 28px;

              &:hover {
                  scale: 1.1;
              }
          }

      }



  }

  .txt {
      width: 400px;
      height: 500px;
      display: flex;
      background-color: rgba(252, 204, 99, 0.879);
      flex-direction: column;
      padding: 30px;
      border-radius: 28px;

      &:hover {
          scale: 1.1;
      }

      h4 {
          display: flex;
          justify-content: center;
          align-items: center;
          /* border: 1px solid red; */
          font-family: en3;
          font-size: 45px;
          color: rgba(0, 0, 0, 0.948);

          &:hover {
              color: red;
          }
      }

      h5 {
          font-size: 18px;
          font-family: en4;
          display: flex;
          justify-content: center;

      }

      span {
          font-family: en4;
          font-size: 20px;
          margin-top: 35px;
          display: flex;
          justify-content: center;

      }

      a {
          font-size: 20px;
          font-family: en3;

          &:nth-of-type(1) {
              margin-top: 10px;
              margin-bottom: 10px;

              >i {
                  color: rgb(5, 5, 5);
                  &:hover {
                  font-size: 43px;
              }
              }

              


          }

          &:nth-of-type(2) {
              margin-top: 10px;
              margin-bottom: 10px;

              >i {
                  color: rgba(24, 82, 244, 0.879);

                  &:hover {
                      font-size: 43px;
                  }
              }




          }

          &:nth-of-type(3) {
              margin-top: 10px;
              margin-bottom: 10px;

              >i {
                  color: rgb(255, 0, 0);

                  &:hover {
                      font-size: 43px;
                  }
              }




          }

          &:nth-of-type(4) {
              margin-top: 10px;
              margin-bottom: 10px;

              >i {
                  color: rgb(239, 19, 151);

                  &:hover {
                      font-size: 43px;
                  }
              }



          }

          &:nth-of-type(5) {
              margin-top: 10px;
              margin-bottom: 10px;

              >i {
                  color: rgb(11, 225, 25);

                  &:hover {
                      font-size: 43px;
                  }
              }




          }

          &:nth-of-type(6) {
              i {
                  color: brown;
              }

              &:hover {
                  font-size: 43px;
              }


          }


      }





  }